.formContainer {
  display: flex;
  flex-direction: column;
  font-family: "Philosopher", sans-serif;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(44, 58, 180);
  transition: 0.3s;
}

.addressContainer:hover {
  box-shadow: 0 8px 16px 0 rgb(44, 58, 180);
}
.addressHeader {
  text-align: center;
}

.spacesDropDownContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 5.5%;
  padding-bottom: 6rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(44, 58, 180);
  transition: 0.3s;
  width: 25%;
}

.spacesDropDownContainer:hover {
  box-shadow: 0 8px 16px 0 rgb(44, 58, 180);
}

.addressContainer input {
  height: 4rem;
  width: 80%;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(44, 58, 180);
  font-family: "Philosopher", sans-serif;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

input#standard-required {
  border: 2px solid black;
  width: 5rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.addinfop {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.textArea {
  font-weight: bold;
  font-size: 1rem;
  width: 80%;
  height: 60%;
}

.additionalInfoContainer {
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(44, 58, 180);
  transition: 0.3s;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.additionalInfoContainer:hover {
  box-shadow: 0 8px 16px 0 rgb(44, 58, 180);
}



.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  background: #051bd9;
  background-image: linear-gradient(to bottom, #051bd9, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 2rem;
  padding: 4px 8px 4px 8px;
  margin-top: 2rem;
  width: 50%;
}

.leftBottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 15rem;

  width: 25%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(44, 58, 180);
  transition: 0.3s;
  height: 20rem;
}

.amenitiesTitle {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bold;
}
.amenitiesContainer {
  padding: 1.2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(44, 58, 180);
  transition: 0.3s;
  width: 25%;
}

.amenitiesContainer:hover {
  box-shadow: 0 8px 16px 0 rgb(44, 58, 180);
}

.propertyFormTitles {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.pounds {
  font-size: 2rem;
}

imput#standard-required {
  border: 5px solid black;
}

.dateTimePrice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(44, 58, 180);
  transition: 0.3s;
  width: 25%;
}

.datePrice {
  padding: 2rem;
}

.dateTimePrice:hover {
  box-shadow: 0 8px 16px 0 rgb(44, 58, 180);
}

.submitButton {
  display: flex;

  align-items: center;
  justify-content: center;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.leftBottom {
  display: flex;
  flex-direction: column;
}

.propertyDetailsTitle {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.typeSpace {
  color: black;
  font-size: x-large;
}

#threeSpacesContainers {
  color: black;
  font-size: large;
}

.amenitiesItems {
  font-size: 1.3rem;
}

.amenitiesItemsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
