.formContainer {
  display: flex;
  flex-direction: column;
  font-family: "Philosopher", sans-serif;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

}

.addressHeader {
  text-align: center;
}

.spacesDropDownContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 6rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
}

.addressContainer input {
  height: 4rem;
  width: 80%;
  padding: 1rem;
  margin: 1rem;

  font-size: 1.5rem;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(44, 58, 180);
  font-family: "Philosopher", sans-serif;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

input#standard-required {
  /* classname taken from inspect, to resize the coponent from MUI for address input. */
  width: 8rem;
  height: 4rem;
}

.infoContainer {
  font-size: large;
  display: flex;
  justify-content: space-around;
}

.addinfop {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.textArea{
  font-weight: bold;
  font-size: 1rem;
}

.additionalInfoContainer {
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  height: 15rem;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.imageUpload{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
    border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.amenitiesTitle {
  font-weight: bold;
}
.amenitiesContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
}

.propertyFormTitles {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.pounds {
  font-size: 2rem;
}

.dateTimePrice {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  margin-left: 5%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 10rem;
  margin-bottom: 5%;
}

.submitButton {
  display: flex;

  align-items: center;
  justify-content: center;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
