



.topContainer {
  padding: 1rem;
  font-size: x-small;
  font-weight: bold;
}

.caroselImage{
  height: 10rem;
}


.bottomContainer {
  display: flex;
  flex-direction: column;
}

.propertyHeader {
  text-align: center;
  padding: 1rem;
  font-family: "Philosopher", sans-serif;
}

.details {
  padding-left: 1rem;
}

.amenitiesHeader {
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: "Philosopher", sans-serif;
}

.amenities {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.host {
  margin-top: 1rem;
}

@media only screen and (min-width: 641px) {
  .topContainer {
    font-size: medium;
  }

  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .images_right {
    width: 10rem;
    height: 10rem;
  }
  .imageCenter {
    padding: 1rem;
  }

  .images_center {
    width: 20rem;
    height: 16rem;
  }

  .images_left {
    width: 10rem;
    height: 10rem;
  }

  .bottomContainer {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }

  .propertyHeader {
    text-align: start;
    padding: 1rem;
  }

  .details {
    padding-left: 1rem;
  }

  .amenitiesHeader {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .amenities {
    padding-left: 1rem;
    padding-top: 0.5rem;
  }

  .host {
    margin-top: 1rem;
  }

  .bottomContainer {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1008px) {
  .topContainer {
    font-size: large;
  }

  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .images_right {
    width: 30rem;
    height: 30rem;
  }
  .imageCenter {
    padding: 1rem;
  }

  .images_center {
    width: 50rem;
    height: 40rem;
  }

  .images_left {
    width: 30rem;
    height: 30rem;
  }

  .bottomContainer {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }

  .propertyHeader {
    text-align: start;
    padding: 1rem;
  }

  .details {
    padding-left: 1rem;
  }

  .amenitiesHeader {
    padding-left: 1rem;
    padding-top: 1rem;
    text-align: left;
  }

  .amenities {
    padding-left: 1rem;
    padding-top: 0.5rem;
  }

  .host {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1640px) {
  .topContainer {
    font-size: large;
  }

  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .images_right {
    width: 30rem;
    height: 30rem;
  }
  .imageCenter {
    padding: 1rem;
  }

  .images_center {
    width: 50rem;
    height: 40rem;
  }

  .images_left {
    width: 30rem;
    height: 30rem;
  }

  .bottomContainer {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }

  .propertyHeader {
    text-align: start;
    padding: 1rem;
  }

  .details {
    padding-left: 1rem;
  }

  .amenitiesHeader {
    padding-left: 1rem;
    padding-top: 1rem;
    text-align: left;
  }

  .amenities {
    padding-left: 1rem;
    padding-top: 0.5rem;
  }

  .host {
    margin-top: 1rem;
  }
}
