.reserveContainer {
  display: flex;
  flex-direction: column;
}

.topContainer {
  padding: 1rem;
  font-size: x-small;
}

imagesRight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.images_right {
  width: 5rem;
  height: 5rem;
  justify-content: center;
}
