.inputs {
  margin: 1rem 0rem 0rem 2rem;
}

.labels {
  font-weight: bold;
}

.form {
  transform: scale(1.5);
  margin: 1rem;
}

.backgroundRegister {
  width: 30%;
  height: 30vh;
  padding-top: 3rem;
  margin-left: 50rem;
  margin-bottom: 60rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
}
