.profileSect {
  display: flex;
  justify-content: space-around;
}

.profile {
  height:32rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  border-radius: 2rem;
  margin-top: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  border-radius: 5px;
}

.listingProfile {
  padding-top: 2rem;
}

.profile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.current {
  text-align: center;
  font-family: "Philosopher", sans-serif;
  color: rgb(44, 58, 180);
  padding-top: 2rem;
}
