.images {
  display: flex;
}

.images button {
  width: 1rem;
  height: 1rem;
  text-align: center;
}



.fileUploader{
  padding: 2rem;
}

.priceInputBox{
 font-weight: bold;
  color: red;
  background-color: yellow;
}

.pounds{
  color: green;
}