.slogan {
  padding: 4rem;
  text-align: center;
  font-family: "Philosopher", sans-serif;
  color: rgb(44, 58, 180);
  font-size: 5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 0px;
  width: 90%;
  overflow-x: scroll;
  margin-left: 4rem;
}

.cards::-webkit-scrollbar {
  display: none;
}
.home {
  width: 100%;
}
