.home {
  width: 100%;
}

.slogan {
  padding: 2rem;
  text-align: center;
  font-family: "Philosopher", sans-serif;
  color: rgb(44, 58, 180);
  font-size: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 0px;
  width: 90%;
  overflow-x: scroll;
}

.cards::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 641px) {
  .slogan {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1008px) {
  .slogan {
    padding: 4rem;
    font-size: 5rem;
  }
  .cards {
    margin-left: 5.5rem;
  }
}
