.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.image {
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.details {
  border: 2px solid black;
  display: inline-block;
  width: 100%;
  height: 8rem;
  text-align: center;
  padding-top: 1rem;
  font-size: small;
  border-radius: 0 0 0.5rem 0.5rem;
}

.card:hover {
  animation: card-animation 0.4s forwards;
}

@keyframes card-animation {
  100% {
    transform: scale(1.1);
  }
}

.card {
  box-shadow: 3px 5px rgba(172, 168, 168, 0.8);
}

@media only screen and (min-width: 480px) {
  .image {
    width: 100%;
    height: 10rem;
  }
  .details {
    border: 2px solid black;
    display: inline-block;
    width: 100%;
    height: 8rem;
    text-align: center;
    padding-top: 1rem;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .image {
    width: 100%;
    height: 14rem;
  }
  .details {
    width: 100%;
    height: 10rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .image {
    width: 100%;
    height: 16rem;
  }
  .details {
    width: 100%;
    height: 11rem;
    font-size: 1.2rem;
  }
}
