.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.image {
  width: 10rem;
  height: 10rem;
}
.details {
  border: 2px solid black;
  display: inline-block;
  width: 10rem;
  height: 7rem;
  text-align: center;
  padding-top: 1rem;
  font-size: small;
}

.card:hover {
  animation: card-animation 0.4s forwards;
}

@keyframes card-animation {
  100% {
    transform: scale(1.1);
  }
}

.card {
  box-shadow: 3px 5px rgba(172, 168, 168, 0.8);
}

@media only screen and (min-width:641px){
  .image {
  width: 15rem;
  height: 15rem;
}
.details {
  border: 2px solid black;
  display: inline-block;
  width: 15rem;
  height: 7rem;
  text-align: center;
  padding-top: 1rem;
  font-size: 0.9rem;
}
}


@media only screen and (min-width:1008px){
   .image {
  width: 22rem;
  height: 22rem;
} 
.details {

  width:22rem;
  height: 7rem;
  font-size: 1.2rem;
}
}
