.formBackground {
  width: 95%;
  height: 70vh;
  padding-top: 3rem;
  margin-left: 2.5%;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.form {
  background-color: rgba(242, 242, 247);
  width: 25%;
  height: 70%;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 5%;
}

.formHeading {
  font-family: "Philosopher", sans-serif;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  margin: 1rem;
}

.label {
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
}
.field {
  transform: scale(1.5);
}

.eachSect {
  display: flex;
  justify-content: space-evenly;
}


.justoff{
  width:100rem
}
=======
.Datecontainer {
  margin: 2rem;
}

.times {
  margin-bottom: 2rem;
}

.submitSection {
  margin: 6rem 0 0 16rem;
}

