.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}

.linkList {
  display: flex;
  align-items: center;
}
.links {
  font-size: 0.5rem;
}

.logo {
  transform: scale(1);
}

/*.headerLinks {
  text-decoration: none;
  color:#000000;
}
.links:hover{
font-weight: bold;
background: rgba(244, 243, 243, 0.9);
padding: 0.6rem;
} */
