.amenitiesContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  background-color: grey;
  float: right;
  margin: 5rem;
  font-size: x-large;
}

.amenitiesTitle {
  font-weight: bold;
  text-decoration: underline;
}
