.footerContainer {
  background-color: #051bd9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;

}

.icons {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.icon {
  margin-left: 1rem;
}