h1 {
    color: rgb(44, 58, 180);
    text-align: center;
    font-family: "Philosopher", sans-serif;
    line-height: 32px;   /* within paragraph */
    margin-bottom: 40px; /* between paragraphs */
    margin-top: 40px; /* between paragraphs */
  }
  
  h2 {
    color: rgb(10, 10, 10);
    text-align: center;
  }
  
  h3 {
    color: rgb(10, 10, 10);
    text-align: center;
    line-height: 32px;   /* within paragraph */
    margin-bottom: 30px; /* between paragraphs */
    border: 2px solid white;
    
    
  }
  

text {
    background-color: white;
    text-align: center;
  }

.body {
    color: blue;
    text-align: center;
  }

  .border {
    border: 0.5rem outset rgb(44, 58, 180);
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin-bottom: 60px; 
    }
      

