.ourMission {
min-height: calc(100vh - 9rem);
}

@media only screen and (min-width: 641px) {
.ourMission {
min-height: calc(100vh - 11rem);
}
}

@media only screen and (min-width: 1008px) {
.ourMission {
min-height: calc(100vh - 14rem);
}
}

h1 {
  color: rgb(44, 58, 180);
  text-align: center;
  font-family: "Philosopher", sans-serif;
  line-height: 32px; /* within paragraph */
  margin-bottom: 40px; /* between paragraphs */
  padding-top: 40px; /* between paragraphs */
}

h3 {
  color: rgb(10, 10, 10);
  text-align: center;
  line-height: 32px; /* within paragraph */
  margin-bottom: 30px; /* between paragraphs */
  border: 2px solid white;
}

text {
  background-color: white;
  text-align: center;
}

.body {
  height: 100%;
}

.border {
  outline: 0.5rem solid rgb(44, 58, 180, 0.7);
  border-radius: 12px;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  margin-bottom: 60px;
}
