.result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.block {
  display: inline-block
}

.mainContainer {
  height: 100%;
  width: 100%;
}
